<div class="card">
    <div class="card-header pr-3 pl-3">
        <a [href]="item.link" class="white-font"><i class="fas fa-external-link-alt pr-3"></i></a>
        <span class="card-header-title">{{ rssFeed.feed.title }}</span>
        <span class="white-font"><small>{{ item.pubDate | date: 'MMM dd yyyy'}} | {{ item.pubDate | date: 'hh:mm'}}</small></span>
    </div>
    <div class="card-image wp-100" [class.none]="imageLoadingError">
        <img *ngIf="!imageLoadingError" class="wp-100 hp-100" [src]="item.enclosure.link" (error)="imageLoadingError = true" />
        <h2 *ngIf="imageLoadingError">{{ rssFeed.feed.title }}</h2>
    </div>
    <div class="card-footer pl-3 pr-3 pb-3">
        <div class="card-footer-heading">
            <p>{{ item.title}}</p>
        </div>
        <div class="card-footer-desc">
            <p>{{ item.content }}</p>
            <div class="card-footer-desc-concat"></div>
        </div>
    </div>
</div>