<div class="container">
    <mat-sidenav-container class="sidenav-container hp-100">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            [opened]="!mobileQuery.matches">
            <div *ngIf="mobileQuery.matches" class="flex-row-end p-3 bg-anchor">
                <div class="close-btn pointer" (click)="snav.toggle()">
                    X
                </div>
            </div>
            <div class="sidenav p-3 white-font">
                <div class="wp-100">
                    <h3 class="header">Content Generator</h3>
                </div>
                <div class="wp-100">
                    <div class="sidenav-input wp-100 less-2rem space-between">
                        <input #search type="text" (keyup)="$$search(search.value)" class="sidenav-input-field wp-100 mr-3"
                            placeholder="    Filter your feeds..." />
                        <i class="fas fa-search"></i>
                    </div>
                    <div *ngFor="let rssFeed of rssFeedsCache" class="space-between wp-100 mt-2 mb-2 categories">
                        <div class="space-between">
                            <div class="sidenav-checkbox mr-3">
                                <input type="checkbox" class="rss-checkbox pointer" [value]="rssFeed.feed.title" />
                            </div>
                            <div class="">{{ rssFeed.feed.title }}</div>
                        </div>
                        <span class="bg-white sidenav-cancel pointer" (click)="$$remove(rssFeed)">
                            <i class="fas fa-times-circle red-font"></i>
                        </span>
                    </div>
                </div>
                <hr class="sidenav-hr mt-4 mb-4 wp-100" />
                <form [formGroup]="formGroup" (ngSubmit)="$$addRssFeed()" class="wp-100 less-2rem flex-column-center ml-3">
                    <p class="mt-4 text-align-center">Add new feed</p>
                    <div class="sidenav-input wp-100">
                        <input #name type="text" class="sidenav-input-field wp-100 mt-2" placeholder="  Type your feed name"
                            formControlName="name" [class.no-italics]="formGroup.get('name').dirty" />
                    </div>
                    <div class="sidenav-input wp-100">
                        <input #urlInput type="text" class="sidenav-input-field wp-100 mt-2 mb-2" placeholder=" Copy your RSS URL"
                            formControlName="url" [class.no-italics]="formGroup.get('url').dirty" />
                    </div>
                    <div class="wp-100">
                        <button type="button" class="sidenav-add-btn p-1" [disabled]="!formGroup.valid" [class.disabled]="!formGroup.valid"
                            (click)="$$addRssFeed()">Add Feed</button>
                    </div>
                </form>
            </div>
        </mat-sidenav>

        <mat-sidenav-content>
            <div (click)="snav.toggle()" class="color-anchor">
                <mat-icon *ngIf="!snav.opened">menu</mat-icon>
                <mat-icon *ngIf="snav.opened">close</mat-icon>
            </div>
            <div class="wp-100" class="sidenav-content">
                <ng-container *ngFor="let rssFeed of rssFeeds">
                    <ng-container *ngFor="let item of rssFeed.items">
                        <rss-feed [rssFeed]="rssFeed" [item]="item" class="m-2"></rss-feed>
                    </ng-container>
                </ng-container>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>