@import "mixins";
@import "spacing";

:host {
    .space-between {
        @include flex-row(space-between, center);
    }

    .flex-column-center {
        @include flex-column(flex-start, center);
    }

    .flex-grow-1 {
        flex-grow: 1;
    }

    .white-font {
        color: white;
    }

    .bg-white {
        background: white;
    }

    .red-font {
        color: red;
    }

    .less-2rem {
        width: calc(100% - 2rem);
    }

    .text-align-center {
        text-align: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        &-sidenav {
            flex: 1;
        }
    }

    .sidenav {
        @include flex-column(flex-start, flex-start);
        height: calc(100% - 2rem);
        width: 250px;
        padding: 1rem;
        background-color: var(--anchor);
        overflow-x: hidden;

        &-input {
            width: 100%;

            &-field {
                border-radius: 12px;
                height: 20px;
                border: 1px solid var(--steel);
                background-color: var(--iron);
                font-style: italic;
                font-size: 10px;
                color: white;
            }
        }

        &-checkbox {
            border-radius: 10px;
            border: 1px
        }

        &-cancel {
            @include flex-row(center, center);
            width: 14px;
            height: 14px;
            border-radius: 7px;
        }

        &-hr {
            height: 0px;
            border: 1px solid var(--steel);
        }

        &-add-btn {
            width: calc(100% + 8px);
            border-radius: 14px;
            background: skyblue;
            color: white;
            border: 1px solid white;

            &.disabled {
                background: var(--iron);
                color:  var(--steel);
            }
        }

        &-content {
            @include flex-row(flex-start, flex-start);
            flex-wrap: wrap;
            padding: 1rem;
        }
    }

    .header {
        font-weight: lighter;
        text-align: center;
    }

    .container-sidenav {
        /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
            `<body>` to be our scrolling element for mobile layouts. */
        flex: 1 0 auto;
    }

    .pointer {
        cursor: pointer;
    }

    .no-italics {
        font-style: normal;
    }

    .rss-checkbox {
        position: relative;
        width: 20px;
        height: 20px;
        background-color: white;
        border-radius: 50%;
        vertical-align: middle;
        border: 1px solid #ddd;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
    }
    
    .rss-checkbox:checked {
        background-color: blue;
        &::after {
            border: 2px solid #fff;
            border-top: none;
            border-right: none;
            content: "";
            height: 2px;
            opacity: 1;
            left: 5px;
            top: 6px;
            position: absolute;
            transform: rotate(-45deg);
            width: 6px;
        }
    }
}
