<div class="container">
    <mat-sidenav-container class="sidenav-container hp-100" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <div class="sidenav p-3 white-font">
                <div class="p-3">
                    <h3 class="header">Content Generator</h3>
                </div>
                <div class="wp-100">
                    <div class="sidenav-input wp-100 less-2rem space-between">
                        <input #search type="text" (keyup)="$$search(search.value)" class="sidenav-input-field wp-100 mr-3"
                            placeholder="    Filter your feeds..." />
                        <i class="fas fa-search"></i>
                    </div>
                    <div *ngFor="let rssFeed of rssFeeds" class="space-between wp-100 mt-2 mb-2 categories">
                        <span class="space-between">
                            <span class="sidenav-checkbox">
                                <input type="checkbox" class="mr-3" />
                            </span>
                            <div class="">{{ rssFeed.feed.title }}</div>
                        </span>
                        <span class="bg-white sidenav-cancel">
                            <i class="fas fa-times-circle red-font"></i>
                        </span>
                    </div>
                </div>
                <hr class="sidenav-hr mt-4 mb-4 wp-100" />
                <div class="wp-100 less-2rem flex-column-center ml-3">
                    <p class="mt-4 text-align-center">Add new feed</p>
                    <div class="sidenav-input wp-100">
                        <input #search type="text" (keyup)="$$search(search.value)" class="sidenav-input-field wp-100 mt-2"
                            placeholder="  Type your feed name" />
                    </div>
                    <div class="sidenav-input wp-100">
                        <input #search type="text" (keyup)="$$search(search.value)" class="sidenav-input-field wp-100 mt-2 mb-2"
                            placeholder=" Copy your RSS URL" />
                    </div>
                    <div class="wp-100">
                        <button type="button" class="sidenav-add-btn p-1">Add Feed</button>
                    </div>
                </div>
            </div>
        </mat-sidenav>

        <mat-sidenav-content>
            <button mat-icon-button (click)="snav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <div class="wp-100" class="sidenav-content">
                <ng-container *ngFor="let rssFeed of rssFeeds">
                    <ng-container *ngFor="let item of rssFeed.items">
                        <rss-feed [rssFeed]="rssFeed" [item]="item" class="m-2"></rss-feed>
                    </ng-container>
                </ng-container>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>